<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edit User</div>
                    <div class="card-body">
                        <form :action="'/users/' + thisUser.id + '/save'" id="editUser" name="editUser" method="POST">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">{{ thisUser.id }}</th>
                                    <td><input type="text" name="name" v-model="thisUser.name"/></td>
                                    <td><input type="text" name="email" v-model="thisUser.email"/></td>
                                    <td v-if="thisUser.role_id === 1">Admin</td>
                                    <td v-else-if="thisUser.role_id === 2">User</td>
                                    <td>
                                        <a href="/users" class="btn btn-secondary btn-block">Back (Don't Save)</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--If the user isn't an admin, they cannot modify users-->
                            <div v-show="isAdmin === 1">
                                <button :disabled="thisUser.name === singleUser.name && thisUser.email === singleUser.email"
                                        type="submit" class="btn btn-primary btn-block">Save
                                </button>
                            </div>
                            <label for="showRequestData"><strong>Show Request Data</strong></label>
                            <input id="showRequestData" type="checkbox" v-model="showRequestData"/>
                            <div v-show="singleUser.errors">
                                <hr/>
                                <div class="alert alert-danger">
                                    <strong>ERROR!!!!</strong><br/>
                                    {{ singleUser.errors }}
                                </div>
                            </div>

                            <div v-show="showRequestData">
                                <hr/>
                                <p>
                                    Request Data:
                                    <br/>
                                    ID: {{ thisUser.id }}
                                    <br/>
                                    Name: {{ thisUser.name }}
                                    <br/>
                                    Email: {{thisUser.email}}
                                    <br/>
                                    Role_ID: {{ thisUser.role_id }}
                                </p>
                            </div>
                            <input type="hidden" name="id" v-model="thisUser.id"/>
                            <input type="hidden" name="role_id" v-model="thisUser.role_id"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        props: ['singleUser', 'isAdmin'],

        data() {
            return {
                thisUser: {
                    id: this.singleUser.id,
                    name: this.singleUser.name,
                    email: this.singleUser.email,
                    role_id: this.singleUser.role_id
                },
                showRequestData: false,
                errors: []
            }
        },

        methods: {
            save(id) {
                console.log('Single User: ', this.thisUser);
                console.log('This data: ', this.$data);
                /*axios.post('/users/' + id + '/save', this.$data)
                    .then(function (response) {
                        //window.location = '/users';
                    });*/
                // .then(response => alert('Successfully edited a user!'));
            }
        }
    }
</script>
