
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: rgb(125,126,125); /* Old browsers */
}
.navbar-laravel {
  background-color: #ffd700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table th, .table td {
  word-wrap: break-word;
  max-width: 23rem;
}